﻿@model LocationsApp.Models.LocationsViewModel

<div>
    <h2>Add Location</h2>
    <!--
    Add Location Form
    -->

    <form method="post" id="locationForm" action="/Home/Create"> 
        Name: <br /><input type="text" id="name" name="name" /><br />
        Address: <br /><input type="text" id="address" name="address" /><br />
        <input type="text" id="latitude" name="latitude" style="display: none"/>
        <input type="text" id="longitude" name="longitude" style="display: none"/>
        <input type="submit" value="Save" id="save" />
    </form>
    <h4 id="resultMessage">@ViewBag.ResultMessage</h4>
</div>

<hr />

<div>
    <!--
    Locations List
    -->

    <h2>Locations</h2>

    <ul>
        @foreach (var location in Model.Locations.OrderBy(x => x.Name))
        {
            <li><a href="@Url.Action("Details", new {locationId = @location.Id})">@location.Name<br />@location.Address</a></li>
        }
    </ul>
</div>
