﻿@model LocationsApp.Models.LocationsViewModel

@{
    ViewBag.Title = "Home Page";
}

<div id="partialIndex">
    @Html.Partial("_Index")
</div>


@section scripts
{
    <script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_yUP9dPfQLLMJ67WAlQL6J-NaoTKjemc"></script>    
    <script>

        var coords;

        $(document).ready(function () {
            $('#locationForm').submit(function (event) {
                @*event.preventDefault;*@
                getLocationCoords(
                    function () {
                        if (typeof coords.lat != "undefined" || typeof coords.lng != "undefined") {
                            $.post('@Url.Action("Create","Home")', { name: $('#name').val(), address: $('#address').val(), latitude: coords.lat, longitude: coords.lng })
                                .done(function (response) {
                                    //console.log(response);
                                    $('#partialIndex').html(response);
                                    delete coords;
                                });
                        }
                        else {
                            alert("The location cannot be saved because the coordinates are invalid.");
                        }
                    },
                    function () {
                        alert("The location cannot be saved because the address is invalid.");
                    }
                );
                return false;
            });
        });

        function getLocationCoords(successCallback, failCallback) {
            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({ 'address': $('#address').val() }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    coords = {
                        lat: results[0].geometry.location.lat(),
                        lng: results[0].geometry.location.lng()
                    };
                    successCallback();
                }
                else
                {
                    failCallback();
                }
            });
        }
    </script>
}